{% extends 'base.html' %}

{% block title %} Listar | Horas Extras {% endblock %}



{% block main %}


<div class="d-flex h-100">
    <div class="col-md-6 mx-auto align-self-center">
        <p class="h2 mb-4">Listagem Horas Extras</p>
        {% for horaextra in object_list %}
        <div class="form-group">
            <div class="form-control">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-10 col-sm-10">
                            <span class=" h4">{{ horaextra.funcionario }} - {{ horaextra.horas }}h</span>
                        </div>

                        <div class="col-md-1 col-sm-1">
                            <a href="{% url 'horaextra:atualizar' horaextra.pk %}"
                               class="fa fa-pencil-alt text-success "></a>
                        </div>
                        <div class="col-md-1 col-sm-1">
                            <a href="{% url 'horaextra:deletar' horaextra.pk %}" class="fa fa-trash text-danger "></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="mt-4">
                <a href="{% url 'horaextra:criar' %}" class="btn btn-success "><span
                        class="fa fa-plus"></span> Novo
                </a>
            </div>
            <div class="mt-4">
                <a href="{% url 'core:home' %}" class="btn btn-warning float-right">Voltar
                </a>
            </div>
        </div>

    </div>
</div>


{% endblock %}