{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Editar Funcionários {% endblock %}



{% block main %}


<div class="d-flex h-100">
    <div class="col-md-6 mx-auto align-self-center">

        <form method="post">
            {% csrf_token %}
            {{ form | bootstrap }}

            {% for documento in funcionario.documento_set.all %}
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ documento.arquivo.url }}">{{ documento }}</a>
                </li>
            </ul>
            {% endfor %}
            <div class="mt-2">
                <button type="submit" class="btn btn-success">Salvar</button>
            </div>
        </form>
        {% if funcionario %}
        <div class="mt-2">
            <a href="{% url 'documento:criar' funcionario.pk %}" class="btn btn-info ">
                <span class="fa fa-plus"></span>
                Documento
            </a>
        </div>
        {% endif %}
    </div>
</div>



{% endblock %}